name: Generar Documentación PHP

on:
  push:
    branches:
      - main
      - desarrollo

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v3

      - name: Configurar PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'  # O la versión que uses

      - name: Instalar Composer
        run: sudo apt-get update && sudo apt-get install -y composer

      - name: Instalar dependencias de PHP
        run: composer install --dev

      - name: Generar documentación con PHPDocumentor
        run: vendor/bin/phpdoc -d ./php -t ./docs
