body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;  /*Cambio el color*/
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #007bff;
    text-align: center;
    margin-top: 50px;
}
